#system-admin-debug-flashes
  %h1= title

  .inline-form
    %a.pure-button.button{href: url('/system/debug')}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

  %p
    = t(:'system/debug/flashes/content')
