.case-view{'data-case-id': case_obj.id}
  %h1
    - if case_obj.type != 'case' && case_obj.is_private
      %i.fa.fa-lock= ""
    = title

  - if cuser_can_edit
    = haml :'partials/case_header', layout: false, locals: {caseid: case_obj.id, casetype: case_obj.type, show: case_show}

  - unless case_open
    .message.message-error
      %i.fa.fa-times-circle= ""
      = t(:'case/view/case_is_closed', link: url("/case/#{case_obj.id}/edit/open-case"))

  - if case_obj.type == 'case' && case_obj.get_assigned_advocates.empty?
    .message.message-warning
      %i.fa.fa-warning= ""
      = t(:'case/view/no_advocate_assigned')

  - if case_obj.type == 'case' && case_obj.reconnect_id.to_i.zero?
    .message.message-warning
      %i.fa.fa-warning= ""
      = t(:'case/view/no_reconnect_link')

  - if case_obj.type == 'case' && case_triage_task.nil?
    .message.message-warning
      %i.fa.fa-check-square-o= ""
      = t(:'case/view/no_triage_task', link: url("/case/#{case_obj.id}/edit#triage-task"))

  - if case_obj.type != 'case' && case_obj.is_private
    .message.message-warning
      %i.fa.fa-lock= ""
      = t(:'case/view/is_private', casetype: case_obj.type)

  .form-main
    %h1= t(:'case/view/details/section_title', casetype: case_obj.type)

    %ul
      %li
        = succeed ': ' do
          = t(:'case_id')
        %span
          &= case_obj.id

      - if case_obj.type == 'case'
        - if case_purpose
          %li
            = succeed ': ' do
              = t(:'case_purpose')
            %span
              = case_purpose.map{|pr| t("case_purpose/#{pr}".to_sym)}.join(', ')

        - if case_duration
          %li
            = succeed ': ' do
              = t(:'case_duration')
            %span
              = t("case_duration/#{case_duration}".to_sym)

        - if case_prison
          %li
            = succeed ': ' do
              = t(:'prison')
            %span
              &= case_prison.decrypt(:name)

        - if case_obj.prisoner_number
          %li
            = succeed ': ' do
              = t(:'prisoner_number')
            %code
              &= case_obj.decrypt(:prisoner_number)

        - if case_address
          %li
            = succeed ': ' do
              = t(:'case/view/details/address')
            %code
              &= case_address

    - if case_global_note
      .form-main
        %h1= t(:'case/view/global_note/section_title')
        %blockquote
          != case_global_note

  .form-main
    %h1= t(:'case/view/spend_summary/section_title')

    .case-view-spendmeter
      .case-view-spendmeter-inner{style: "width: #{(spend_year_percent > 1.0 ? 1.0 : spend_year_percent) * 100}%"}
        = "#{spend_year_percent * 100}%"

    %p= t(:'case/view/spend_summary/content', amount: spend_year, max: spend_year_max)

  .form-main#case-view-tasks
    %h1= t(:'case/view/tasks/section_title')

    .inline-form
      - if cuser_can_edit
        %a.pure-button.button{href: url("/case/#{case_obj.id}/task/add")}
          %i.fa.fa-check-square-o= ""
          %span
            = t(:'case/view/actions/add_task')

      %a.pure-button.button{href: tasks_complete_toggle}
        %i.fa{class: "fa-toggle-#{tasks_complete ? 'on' : 'off'}"}= ""
        = t("case/view/tasks/complete/#{tasks_complete ? 'on' : 'off'}".to_sym)

    - if tasks.empty?
      .message.message-warning
        = t(:'case/view/tasks/no_tasks')

    %ul.case-view-tasks.fa-ul
      - tasks.each do |t|
        %li
          - if t[:completion]
            %i.fa.fa-li.fa-check-square-o= ""
          - else
            %i.fa.fa-li.fa-square-o= ""
          
          %ul.inline-list
            %li
              = t[:content]

              - if t[:completion]
                %span.sr-only
                  = surround '(', ')' do
                    = t(:'case/view/tasks/item/completed')

            %li
              %a.case-view-task-editlink{href: t[:url]}
                %i.fa.fa-gear= ""
                %span.sr-only
                  = t(:'case/view/tasks/item/edit')

            %li
              %a.case-view-task-editlink{href: "##{t[:anchor]}"}
                %i.fa.fa-external-link= ""
                %span.sr-only
                  = t(:'case/view/tasks/item/jump_to_log')
            
            - unless t[:completion]
              %li
                %a.case-view-task-editlink{href: "#{t[:url]}#mark-complete"}
                  %i.fa.fa-check= ""
                  = t(:'case/view/tasks/item/mark_as_completed')

          %ul
            %li
              %ul.inline-list
                %li
                  = succeed ': ' do
                    = t(:'case_renderable/task/author')

                  %span.case-task-author
                    - if t[:author][:id].zero?
                      %strong
                        = t(:'author/robot')

                    - else
                      %strong{title: "User[#{t[:author][:id]}]"}
                        &= t[:author][:name]

                      - if t[:author][:me]
                        %span.badge
                          %i.fa.fa-user-o= ""
                          = t(:'thats_you')

                %li
                  = succeed ': ' do
                    = t(:'case_renderable/task/assigned')

                  %span.case-task-assigned
                    %strong{title: "User[#{t[:assigned_to][:id]}]"}
                      &= t[:assigned_to][:name]

                    - if t[:assigned_to][:me]
                      %span.badge
                        %i.fa.fa-user-o= ""
                        = t(:'thats_you')

            %li
              = succeed ': ' do
                = t(:'case/view/tasks/item/added')

              = t(:'case_renderable/creation', ts: t[:creation])

            - if t[:completion]
              %li
                = succeed ': ' do
                  = t(:'case/view/tasks/item/completed')

                = t(:'case_renderable/creation', ts: t[:completion])

            - if t[:deadline]
              %li
                = succeed ': ' do
                  = t(:'case_renderable/task/deadline')

                %span.case-task-deadline
                  = t(:'case_renderable/creation/date_only', ts: t[:deadline])

                  - unless t[:completion]
                    - if t[:deadline] < Time.now
                      %span.badge
                        %i.fa.fa-clock-o= ""
                        = t(:'case_renderable/task/deadline/overdue')


  .form-main#case-view-renderables
    %h1= t(:'case/view/entries/section_title')

    .case-view-either-side
      .inline-form
        %a.pure-button.button{href: "#case-view-renderables-end", title: t(:'case/view/actions/to_end_of_entries')}
          %i.fa.fa-arrow-down= ""
          %span.sr-only
            = t(:'case/view/actions/to_end_of_entries')

        - if cuser_can_edit
          %a.pure-button.button{href: url("/case/#{case_obj.id}/note/add")}
            %i.fa.fa-pencil-square-o= ""
            %span
              = t(:'case/view/actions/add_note')

          %a.pure-button.button{href: url("/case/#{case_obj.id}/spend/add")}
            %i.fa.fa-dollar= ""
            %span
              = t(:'case/view/actions/add_spend')

      .inline-form
        = t(:'pagination/count', page: page_state[:page], count: page_state[:pages])

        %a.pure-button.button{href: page_prev, disabled: page_state[:page] <= 1}
          %i.fa.fa-chevron-left= ""
          %span.sr-only
            = t(:'pagination/prev')

        %a.pure-button.button{href: page_next, disabled: page_state[:page] >= page_state[:pages]}
          %i.fa.fa-chevron-right= ""
          %span.sr-only
            = t(:'pagination/next')

    .case-view-renderables
      - if renderables.empty?
        .message.message-warning
          = t(:'case/view/entries/no_entries')

      - renderables.each do |rb|
        = haml "partials/case_renderable/#{rb[:type]}".to_sym, layout: false, locals: {rb: rb, can_edit: cuser_can_edit}

      #case-view-renderables-end= ""

    .case-view-either-side
      .inline-form
        %a.pure-button.button{href: "#case-view-renderables", title: t(:'case/view/actions/to_start_of_entries')}
          %i.fa.fa-arrow-up= ""
          %span.sr-only
            = t(:'case/view/actions/to_start_of_entries')

      .inline-form
        = t(:'pagination/count', page: page_state[:page], count: page_state[:pages])

        %a.pure-button.button{href: page_prev, disabled: page_state[:page] <= 1}
          %i.fa.fa-chevron-left= ""
          %span.sr-only
            = t(:'pagination/prev')

        %a.pure-button.button{href: page_next, disabled: page_state[:page] >= page_state[:pages]}
          %i.fa.fa-chevron-right= ""
          %span.sr-only
            = t(:'pagination/next')

    .page-footer
      %ul.inline-list
        %li= t(:'case/view/options')
        %li
          %a.case-view-task-editlink{href: renderable_updates_toggle}
            %i.fa{class: "fa-toggle-#{renderable_updates ? 'on' : 'off'}"}= ""
            = t("case/view/options/renderable_updates/#{renderable_updates ? 'on' : 'off'}".to_sym)
