<p>Hello,</p>

<p>
  A new case has been imported from re:connect,
  with the name <%= e(case_obj.get_name) %>.
</p>

<% unless prison.nil? %><p>
  This case is within the prison <%= e(prison.decrypt(:name)) %>.
</p><% end %>

<p>
  More data, including any new correspondence, will be synced shortly
  from re:connect. If there is new correspondence for this case before
  the case has an advocate assigned, you will receive an email alert.
</p>

<p>
  To view details of this case, visit:
  <a href="<%= e(case_url) %>"><%= e(case_url) %></a>
</p>
