<p>Hello,</p>

<p>
  This email is to confirm that your request for advocacy
  from <%= e(org_name) %> has been received.
</p>

<p>
  If you have any questions, please email
  <code><%= e(app_config['email-from']) %></code>.
</p>
