%p
  %ul.inline-list
    %li
      %span
        %i.fa.fa-bug= ""

    %li
      %span
        %a{href: url('/-/debug/restart')}
          %i.fa.fa-refresh= ""
          Restart application

    %li
      %span
        %a{href: url('/-/debug/lang-reload')}
          %i.fa.fa-language= ""
          Reload languages
