@font-face {
  font-family: 'opendyslexic';
  src: url('https://iris-webfonts.sfo2.digitaloceanspaces.com/opendyslexic/OpenDyslexic-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('https://iris-webfonts.sfo2.digitaloceanspaces.com/opendyslexic/OpenDyslexic-Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('https://iris-webfonts.sfo2.digitaloceanspaces.com/opendyslexic/OpenDyslexic-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('https://iris-webfonts.sfo2.digitaloceanspaces.com/opendyslexic/OpenDyslexic-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
