.ck-content {
  min-height: 12rem;
}

.x-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.y-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.xy-margin {
  @extend .x-margin;
  @extend .y-margin;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.inline-form {
  display: inline-block;

  .button {
    width: auto !important;
  }
}

.inline-list {
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;

    &:not(:last-child):after {
      content: ' \00b7 ';
    }
  }
}

.block-list {
  .block-form {
    display: block;

    input, .button {
      display: inline-block;
      width: auto !important;
    }
  }
}

blockquote {
  position: relative;
  margin-left: $blockquote_left_margin;
  padding-left: $blockquote_left_margin;
  border-left: $blockquote_left_border;

  &.blockquote-fancy {
    border-left-color: transparent;

    &:before {
      position: absolute;
      top: 0;
      left: -#{$blockquote_left_margin / 2};

      color: $blockquote_quote_color;
      font-family: "FontAwesome";
      font-size: 1.25em;
      content: "\f10d";
    }
  }
}
