.ck-content {
  min-height: 12rem;
}

.x-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.y-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.xy-margin {
  @extend .x-margin;
  @extend .y-margin;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.inline-form {
  display: inline-block;

  .button {
    width: auto !important;
  }
}

.sr-only
{
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ use clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* all other browsers use clip with commas */
}
