$responsive_width: 58rem;
$color_background: #fff;
$color_foreground: #000;
$color_foreground_dimmed: #888;
$color_accent: #0aa;

$symbolic_success_background: #0b0;
$symbolic_success_foreground: #dfb;
$symbolic_success_border: #12e512;
$symbolic_warning_background: #fec;
$symbolic_warning_foreground: #860;
$symbolic_warning_border: #fea;
$symbolic_error_background: #b00;
$symbolic_error_foreground: #fcc;
$symbolic_error_border: #e51212;

$body_header_background: #000;
$body_header_foreground: #fff;
$body_header_hover_background: rgba(255, 255, 255, 0.25);
$body_header_accent: $color_accent;
$body_header_height: 3rem;
$body_header_border_left: 4px;
$body_header_border_bottom: 4px;
$body_header_small_margin: 0.5rem;
$body_header_margin: 1rem;

$body_container_width: $responsive_width;
$body_container_padding: 1rem;

$body_footer_color: $color_foreground_dimmed;
$body_footer_font_size: 0.75rem;
$body_footer_padding: 1rem;

$badge_foreground: #777;
$badge_background: #f2f2f2;
$badge_border: #ccc;

$midsplash_width: 32rem;

$case_view_spendmeter_height: 1.5rem;
$case_view_spendmeter_text: #fff;
$case_view_spendmeter_background: #fff;
$case_view_spendmeter_foreground: $color_accent;
$case_view_spendmeter_border: #000;
$case_view_spendmeter_border_radius: 4px;

$case_renderable_background: #fff;
$case_renderable_foreground: #000;
$case_renderable_border: #000;
$case_renderable_border_radius: 4px;
$case_renderable_target_header_background: lighten($color_accent, 50%);
$case_renderable_header_background: #f0f0f0;
$case_renderable_header_foreground: #000;
$case_renderable_header_border: #000;

$blockquote_quote_color: $color_foreground_dimmed;
$blockquote_left_margin: 1em;
$blockquote_left_border: 6px solid $blockquote_quote_color;
