$responsive_width: 58rem;

$color_accent: #0aa;

$body_header_background: #000;
$body_header_foreground: #fff;
$body_header_hover_background: rgba(255, 255, 255, 0.25);
$body_header_accent: $color_accent;
$body_header_height: 3rem;
$body_header_border_left: 2px;
$body_header_border_bottom: 4px;
$body_header_small_margin: 0.5rem;
$body_header_margin: 1rem;

$body_container_width: $responsive_width;
$body_container_padding: 1rem;

$body_footer_color: #888;
$body_footer_font_size: 0.75rem;
$body_footer_padding: 1rem;
