@import 'variables';

*, *:before, *:after {
  box-sizing: border-box;
}

*:not(.fa) {
  line-height: var(--body-line-height);
  font-family: var(--body-font-family);
}

@import 'header';
@import 'footer';
@import 'subpage_nav';
@import 'body';
@import 'case_view';
@import 'case_timeline';
@import 'midsplash';
@import 'form';
@import 'message';
@import 'list';
@import 'blockquote';
@import 'rich_text';
@import 'badge';
@import 'util';
@import 'button';

@import 'user_search';

@import 'font_opendyslexic';
