.system-admin-container
  %ul.system-admin-nav.subpage-nav><
    %li{class: current?('/system')}><
      %a{href: url('/system')}
        = t(:'system/index/title')

    - if has_role?('system:config:access')
      %li{class: current_prefix?('/system/config')}><
        %a{href: url('/system/config')}
          = t(:'system/config/title')

    - if has_role?('system:roles:access')
      %li{class: current_prefix?('/system/roles')}><
        %a{href: url('/system/roles')}
          = t(:'system/roles/title')

  = yield
