%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
%title= [(defined?(title) && !title.nil?) ? "#{title} &laquo; " : nil, site_name].compact.join('')

- if Kukupa.app_config["display-version"]
  %meta{:name => 'generator', :content => "Kūkupa #{Kukupa.version}"}
- else
  %meta{:name => 'generator', :content => "Kūkupa"}

%link{rel: "stylesheet", href: "/static/vendor/purecss/build/pure-min.css"}
%link{rel: "stylesheet", href: "/static/vendor/purecss/build/grids-responsive-min.css"}
%link{rel: "stylesheet", href: "/static/vendor/font-awesome/css/font-awesome.min.css"}
%link{rel: "stylesheet", href: "/static/css/main.css"}
%link{rel: "stylesheet", href: "/static/css/theme.css"}
